* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    margin-left: 50px; 
    margin-top: 20px;
    font-size: 30px;
    line-height: 40px;
}

.active {
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

footer {
    position: fixed;
    bottom: 0;
    margin-left: 620px;
    margin-bottom: 30px;
}

button {
    height: 50px;
    width: 50px;
    font-size: 20px;
    background: none;
    border: none;
}
